WindowsApplication1/Service References/IF_SaldoClientesV/ipostep_vP.0010000101.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:ipostep_vP.0010000101.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc" xmlns:xsd="http://www.w3.org/2001/XMLSchema" tns:force="" http:force="" soap:force="" xsd:force="" name="ipostep_vP.0010000101.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc" targetNamespace="urn:ipostep_vP.0010000101.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
				WSDL interface-definition generated by B1iP for the IPO-Step + port 'ipostep:/vP.0010000101.in_WCSX/com.sap.b1i.vplatform.runtime/INB_WS_CALL_SYNC_XPT/INB_WS_CALL_SYNC_XPT.ipo/proc#Ip'.
				If your development tool of choice rejects to use this generated WSDL-file, please do remove the various artificial attributes 'xxx:force...' out of
				the root-element 'wsdl:definitions'. These attributes do not comply to the WSDL 1.1 specification, but are an unavoidable generation-artefact!
			</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="SaldoClientesV" type="SaldoClientesVType">
        <xs:annotation xmlns:bfa="urn:com.sap.b1i.bizprocessor:bizatoms">
          <xs:documentation>Root element for the document</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:complexType xmlns:bfa="urn:com.sap.b1i.bizprocessor:bizatoms" name="SaldoClientesVType">
        <xs:annotation>
          <xs:documentation>Automatically generated complex type comprising the whole document for the purpose of schema re-use</xs:documentation>
        </xs:annotation>
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="SaldoClientesVResponse" type="SaldoClientesVResponseType">
        <xs:annotation xmlns:bfa="urn:com.sap.b1i.bizprocessor:bizatoms">
          <xs:documentation>Root element for the document</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:complexType xmlns:bfa="urn:com.sap.b1i.bizprocessor:bizatoms" name="SaldoClientesVResponseType">
        <xs:annotation>
          <xs:documentation>Automatically generated complex type comprising the whole document for the purpose of schema re-use</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element form="unqualified" name="SaldoClientesVResult">
            <xs:complexType>
              <xs:sequence>
                <xs:annotation>
                  <xs:documentation>As the element 'SaldoClientesVResult' contains multiple child-elements with the same name, it is assumed that it contains a database-table dump with similar rows. Thus, only one of those multiple elements with the biggest sub-element count has been dumped to this schema, assuming to be the superset of such a row, allowing a cardinality from zero til unbounded, making all of the sub-elements optional. Note that it is necessary for this approach being accurate that at least one of those rows has to contain the maximum number of fields; also, disjunct or order-reversed field-lists amongst rows also lead to inaccuracy. Also note that potentially otherl sub-elements with distinct names have been left out of the generated schema, as rows have to look homogeneous!</xs:documentation>
                </xs:annotation>
                <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="Row">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" form="unqualified" name="CardCode" type="xs:string" />
                      <xs:element minOccurs="0" form="unqualified" name="CardName" type="xs:string" />
                      <xs:element minOccurs="0" form="unqualified" name="Balance" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="SaldoClientesV">
    <wsdl:part name="body" element="SaldoClientesV" />
  </wsdl:message>
  <wsdl:message name="SaldoClientesVResponse">
    <wsdl:part name="body" element="SaldoClientesVResponse" />
  </wsdl:message>
  <wsdl:portType name="ipostep_vP.0010000101.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc">
    <wsdl:operation name="Z.SaldoClientesV">
      <wsdl:input message="tns:SaldoClientesV" />
      <wsdl:output message="tns:SaldoClientesVResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ipostep_vP.0010000101.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc_SoapBinding" type="tns:ipostep_vP.0010000101.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Z.SaldoClientesV">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ipostep_vP.0010000101.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc_Service">
    <wsdl:port name="ipostep_vP.0010000101.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc_SoapBinding_HTTP" binding="tns:ipostep_vP.0010000101.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc_SoapBinding">
      <soap:address location="http://127.0.0.1:8080/B1iXcellerator/exec/soap/vP.0010000101.in_WCSX/com.sap.b1i.vplatform.runtime/INB_WS_CALL_SYNC_XPT/INB_WS_CALL_SYNC_XPT.ipo/proc" />
    </wsdl:port>
    <wsdl:port name="ipostep_vP.0010000101.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc_SoapBinding_HTTPS" binding="tns:ipostep_vP.0010000101.in_WCSX_com.sap.b1i.vplatform.runtime_INB_WS_CALL_SYNC_XPT_INB_WS_CALL_SYNC_XPT.ipo_proc_SoapBinding">
      <soap:address location="https://127.0.0.1:8443/B1iXcellerator/exec/soap/vP.0010000101.in_WCSX/com.sap.b1i.vplatform.runtime/INB_WS_CALL_SYNC_XPT/INB_WS_CALL_SYNC_XPT.ipo/proc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>